<h1><%= @title %></h1>
<%= image_tag ('about_img.jpg'), class: 'about_img' %>
<p>Mein Name ist Enrico Beyer und ich liebe Design. Ich brenne dafür Webseiten zu gestalten, Plakate zu entwerfen und Logos zu erfinden!</p>
